<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/Content/Site/assets/imgs/logo.png" />

    <title>Banaz Otomotiv</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:100%7COpen+Sans:300,400,400i,600,700,800">
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/bootsnav/css/bootsnav.css">
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/alien-icon/css/style.css">
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/owl.carousel2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/switchery/switchery.min.css">
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/Content/Site/assets/vendor/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/alien.min.css">
</head>
<body>
    <header>
        <nav id="mainNav" class="navbar navbar-default navbar-fixed navbar-scrollspy bootsnav" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand"><img src="~/Content/Site/assets/imgs/logo.png" class="logo logo-scrolled" alt="" style="max-height:55px;max-width:120px"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active scroll"><a href="#home">ANA SAYFA</a></li>
                        <li class="scroll"><a href="#about">HAKKIMIZDA</a></li>
                        <li class="scroll"><a href="#sahibinden">MAĞAZAMIZ</a></li>
                        <li class="scroll"><a href="#service">İŞ KOLLARIMIZ</a></li>
                        <li class="scroll"><a href="#portfolio">GÖRÜNTÜLER</a></li>
                        <li class="scroll"><a href="#contact">İLETİŞİM</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clearfix"></div>
    </header>
    <div>
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/Content/Site/assets/vendor/jquery/jquery-1.12.0.min.js"></script>
    <script src="~/Content/Site/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Site/assets/vendor/bootsnav/js/bootsnav.js"></script>
    <script src="~/Content/Site/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/Site/assets/vendor/jquery.countTo/jquery.countTo.min.js"></script>
    <script src="~/Content/Site/assets/vendor/owl.carousel2/owl.carousel.min.js"></script>
    <script src="~/Content/Site/assets/vendor/jquery.appear/jquery.appear.js"></script>
    <script src="~/Content/Site/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/Site/assets/vendor/imagesloaded/imagesloaded.js"></script>
    <script src="~/Content/Site/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Site/assets/vendor/switchery/switchery.min.js"></script>
    <script src="~/Content/Site/assets/vendor/swiper/js/swiper.min.js"></script>
    <script src="~/Content/Site/assets/js/alien.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaqHZbSKNBu1zXN0dFw13n_kvPbEPiCTk"></script>
    <script>
        $(document).ready(function () {
            var location, map, marker;

            location = { lat: 39.79706798299095, lng: 30.4500760820846 };
            map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 15,
                scrollwheel: false
            });
            marker = new google.maps.Marker({
                position: location,
                map: map
            });
        });
    </script>
</body>
</html>
