@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<body>
    <div class="container">
        <div class="col-md-12 col-sm-12 u-MarginTop100 u-xs-MarginTop30 u-xs-MarginBottom30">
            <div class="u-MarginTop100 u-xs-MarginTop0 text-center">
                <img class="img-responsive" src="~/Content/Site/assets/imgs/404-t.png" alt="" style="display:inline !important;"/>
                <h1 class="u-weight300">Sayfa Bulunamadı!</h1>
                <a href="Index" class="btn btn-default">Ana Sayfa</a>
            </div>
        </div>
    </div>
</body>