<body>
    <div id="home" class="swiper-container js-FullHeight">
        <div class="swiper-wrapper">
            <section class="swiper-slide ImageBackground ImageBackground--overlay ImageBackground--overlay--gradient-" data-overlay="2" data-scheme="light" data-swiper-autoplay="200">
                <div class="ImageBackground__holder">
                    <img src="~/Content/Site/assets/imgs/swiper-slider/DJI_0243.jpg" alt="Banaz Otomotiv">
                </div>
                @*<div class="container u-vCenter">
                        <div class="row ">
                            <div class="col-md-12 text-center text-white" data-animate="fadeInUp">
                                <h1 class="text-uppercase u-FontSize75 u-xs-FontSize40 u-MarginTop0 u-MarginBottom5 u-LetterSpacing4 u-Weight700">Alien One Page</h1>
                                <p class="text-lg text-uppercase text-white u-MarginBottom15">You just imagine. We can build your dream. Sky is the limit.</p>
                                <div class="u-MarginTop50 u-MarginBottom15">
                                    <a href="#" class="btn btn-primary u-MarginRight10">View our work</a>
                                    <a href="#" class="btn btn-white btn-white--transparent">Learn about Us</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </section>
            <section class="swiper-slide ImageBackground ImageBackground--overlay" data-overlay="3" data-scheme="dark" data-swiper-autoplay="200">
                <div class="ImageBackground__holder">
                    <img src="~/Content/Site/assets/imgs/swiper-slider/DJI0057.jpg" alt="Banaz Otomotiv">
                </div>
                @*<div class="container u-vCenter">
                        <div class="row ">
                            <div class="col-md-12 text-center text-white" data-animate="fadeInUp">
                                <h1 class="text-uppercase u-FontSize75 u-xs-FontSize40 u-MarginTop0 u-MarginBottom5 u-LetterSpacing10 u-Weight700">100% Responsive</h1>
                                <p class="text-lg text-white text-uppercase u-MarginBottom15 u-LetterSpacing2">We marked that our alien is highly responsive to different screen sizes.</p>
                                <div class="u-MarginTop50 u-MarginBottom15">
                                    <a href="#" class="btn btn-primary u-MarginRight10">View our work</a>
                                    <a href="#" class="btn btn-white btn-white--transparent">Learn about Us</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </section>
            <section class="swiper-slide ImageBackground ImageBackground--overlay" data-overlay="0" data-scheme="light" data-swiper-autoplay="200">
                <div class="ImageBackground__holder">
                    <img src="~/Content/Site/assets/imgs/swiper-slider/DJI_0241.jpg" alt="Banaz Otomotiv">
                </div>
                @*<div class="container u-vCenter">
                        <div class="row ">
                            <div class="col-md-12 text-center" data-animate="fadeInUp">
                                <h1 class="text-uppercase u-FontSize75 u-xs-FontSize40 u-MarginTop0 u-MarginBottom5 u-Weight700">Huge Shortcodes</h1>
                                <p class="text-lg text-uppercase u-MarginBottom15">We love to create Creative template.</p>
                                <div class="u-MarginTop50 u-MarginBottom15">
                                    <a href="#" class="btn btn-primary u-MarginRight10">View our work</a>
                                    <a href="#" class="btn btn-dark ">Learn about Us</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </section>
        </div>
        <div class="swiper-control swiper-button-next"></div>
        <div class="swiper-control swiper-button-prev"></div>
    </div>
    <section id="about" class="u-PaddingTop100 u-PaddingBottom100 u-xs-PaddingTop50 u-xs-PaddingBottom50">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1 class="u-MarginTop0 u-MarginBottom35">Hakkımızda</h1>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <p class="u-LineHeight2">Şirketimiz 65 senelik otomotiv sektörü tecrübesi ve 50 senelik akaryakıt sektörü tecrübesini 3 kuşaktır başarılı bir şekilde sürdürmektedir. Çağın yeniliklerine açık olan şirketimiz yenilenebilir enerji sektöründe 2017 yılından itibaren hizmet vermektedir. Faaliyet gösterdiğimiz sektörlerde müşteri memnuniyetini her zaman ön planda tutmak en önemli ilkemiz olmuştur.</p>
                    <p class="u-MarginTop100">
                        <img class="img-responsive" src="~/Content/Site/assets/imgs/FHMI0373.jpg" alt="...">
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="bg-darker u-PaddingTop60 u-PaddingBottom60">
        <div class="container">
            <div class="row u-MarginTop70">
                <div class="col-md-4 col-sm-6 u-MarginBottom60">
                    <div class="u-PaddingRight40 u-md-Padding0 u-sm-PaddingRight20 u-xs-PaddingLeft20">
                        <img class="img-responsive" src="~/Content/Site/assets/imgs/t0.jpg" alt="...">
                        <h4 class="u-MarginTop25 u-MarginBottom0">Jonathan Smith</h4>
                        <p class="text-muted">Chief Operating Officer</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 u-MarginBottom60">
                    <div class="u-PaddingLeft20 u-PaddingRight20 u-md-Padding0 u-sm-PaddingLeft20 u-xs-PaddingRight20">
                        <img class="img-responsive" src="~/Content/Site/assets/imgs/t1.jpg" alt="...">
                        <h4 class="u-MarginTop25 u-MarginBottom0">Rose Tellor</h4>
                        <p class="text-muted">Vice Chairman</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 u-MarginBottom60">
                    <div class="u-PaddingLeft40 u-md-Padding0 u-sm-PaddingLeft10 u-sm-PaddingRight10 u-xs-PaddingLeft20 u-xs-PaddingRight20">
                        <img class="img-responsive" src="~/Content/Site/assets/imgs/t2.jpg" alt="...">
                        <h4 class="u-MarginTop25 u-MarginBottom0">Josseph Butlar</h4>
                        <p class="text-muted">Head of Marketing</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service" class="u-PaddingTop100 u-PaddingBottom100 u-xs-PaddingTop50 u-xs-PaddingBottom50">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1 class="u-MarginTop0 u-MarginBottom35">İş Kollarımız</h1>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <p class="u-LineHeight2">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums</p>
                </div>
            </div>
            <div class="row u-MarginTop60">
                <div class="col-md-4 col-sm-6 text-center u-MarginBottom35">
                    <div class="u-BoxShadow100">
                        <div class="Blurb Blurb--wrapper Blurb--hoverBg Blurb--hoverBg--gradient u-BorderRadius6">
                            <div class="Blurb__hoverBg Thumb Thumb--182px Thumb--black u-Rounded">
                                <div class="portfolio-item cat1 cat3 cat5 js-Portfolio portfolio-grid portfolio-gallery grid-3 gutter">
                                    <a href="~/Content/Site/assets/imgs/car/OJUD6755.jpg" class="portfolio-image popup-gallery">
                                        <img src="~/Content/Site/assets/imgs/car/OJUD6755.jpg" style="max-height:240px;max-width:320px" />
                                    </a>
                                </div>
                            </div>
                            <h3 class="Blurb__hoverText">Otomotiv Servisi</h3>
                            <p class="Blurb__hoverText u-LineHeight2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center u-MarginBottom35">
                    <div class="u-BoxShadow100">
                        <div class="Blurb Blurb--wrapper Blurb--hoverBg Blurb--hoverBg--gradient u-BorderRadius6">
                            <div class="Blurb__hoverBg Thumb Thumb--182px Thumb--black u-Rounded">
                                <div class="portfolio-item cat1 cat3 cat5 js-Portfolio portfolio-grid portfolio-gallery grid-3 gutter">
                                    <a href="~/Content/Site/assets/imgs/swiper-slider/DJI_0241.jpg" class="portfolio-image popup-gallery">
                                        <img src="~/Content/Site/assets/imgs/car/DJI_0241.jpg" style="max-height:240px;max-width:320px" />
                                    </a>
                                </div>
                            </div>
                            <h3 class="Blurb__hoverText">Akaryakıt İstasyonu</h3>
                            <p class="Blurb__hoverText u-LineHeight2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 text-center">
                    <div class="u-BoxShadow100">
                        <div class="Blurb Blurb--wrapper Blurb--hoverBg Blurb--hoverBg--gradient u-BorderRadius6">
                            <div class="Blurb__hoverBg Thumb Thumb--182px Thumb--black u-Rounded">
                                <div class="portfolio-item cat1 cat3 cat5 js-Portfolio portfolio-grid portfolio-gallery grid-3 gutter">
                                    <a href="~/Content/Site/assets/imgs/car/DJI_0051.jpg" class="portfolio-image popup-gallery">
                                        <img src="~/Content/Site/assets/imgs/car/DJI_0051.jpg" style="max-height:300px;max-width:400px" />
                                    </a>
                                </div>
                            </div>
                            <h3 class="Blurb__hoverText">GES</h3>
                            <p class="Blurb__hoverText u-LineHeight2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="u-BoxShadow40 u-PaddingTop90 u-PaddingBottom100 u-xs-PaddingTop40 u-xs-PaddingBottom50">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1 class="u-MarginTop10 u-MarginBottom35">Portfolio</h1>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <p class="u-LineHeight2">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo.</p>
                    <p>
                        <a class="btn btn-go btn-go--info" href="#" role="button">Read The Story <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <ul class="js-PortfolioFilter portfolio-filter text-center">
                            <li class="active"><a href="#" data-filter="*"> All</a></li>
                            <li><a href="#" data-filter=".cat1">Business</a></li>
                            <li><a href="#" data-filter=".cat2">Personal</a></li>
                            <li><a href="#" data-filter=".cat3">Printing</a></li>
                            <li><a href="#" data-filter=".cat4">App</a></li>
                            <li><a href="#" data-filter=".cat5">Web Design</a></li>
                        </ul>
                    </div>
                    <div class="js-Portfolio portfolio-grid portfolio-gallery grid-3 gutter">
                        <div class="portfolio-item cat1 cat3 cat5">
                            <a href="~/Content/Site/assets/imgs/portfolio/portfolio-0.jpg" class="portfolio-image popup-gallery" title="We are creative">
                                <img src="~/Content/Site/assets/imgs/portfolio/portfolio-0.jpg" alt="" />
                                <div class="portfolio-hover-title">
                                    <div class="portfolio-content">
                                        <h4>We are creative</h4>
                                        <div class="portfolio-category">
                                            <span>Cat 1</span>
                                            <span>Cat 2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item cat1 cat3 cat5">
                            <a href="~/Content/Site/assets/imgs/portfolio/portfolio-1.jpg" class="portfolio-image popup-gallery" title="We are creative">
                                <img src="~/Content/Site/assets/imgs/portfolio/portfolio-1.jpg" alt="" />
                                <div class="portfolio-hover-title">
                                    <div class="portfolio-content">
                                        <h4>We are creative</h4>
                                        <div class="portfolio-category">
                                            <span>Cat 1</span>
                                            <span>Cat 2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item cat2 cat3 cat4">
                            <a href="~/Content/Site/assets/imgs/portfolio/portfolio-2.jpg" class="portfolio-image popup-gallery" title="Branding">
                                <img src="~/Content/Site/assets/imgs/portfolio/portfolio-2.jpg" alt="" />
                                <div class="portfolio-hover-title">
                                    <div class="portfolio-content">
                                        <h4>Branding</h4>
                                        <div class="portfolio-category">
                                            <span>Cat 1</span>
                                            <span>Cat 2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item cat1 cat2 cat3">
                            <a href="~/Content/Site/assets/imgs/portfolio/portfolio-3.jpg" class="portfolio-image popup-gallery" title="Design">
                                <img src="~/Content/Site/assets/imgs/portfolio/portfolio-3.jpg" alt="" />
                                <div class="portfolio-hover-title">
                                    <div class="portfolio-content">
                                        <h4>Design</h4>
                                        <div class="portfolio-category">
                                            <span>Cat 1</span>
                                            <span>Cat 2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item cat1 cat4">
                            <a href="~/Content/Site/assets/imgs/portfolio/portfolio-4.jpg" class="portfolio-image popup-gallery" title="Photography">
                                <img src="~/Content/Site/assets/imgs/portfolio/portfolio-4.jpg" alt="" />
                                <div class="portfolio-hover-title">
                                    <div class="portfolio-content">
                                        <h4>Photography</h4>
                                        <div class="portfolio-category">
                                            <span>Cat 1</span>
                                            <span>Cat 2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item cat3 cat5">
                            <a href="~/Content/Site/assets/imgs/portfolio/portfolio-5.jpg" class="portfolio-image popup-gallery" title="Marketing">
                                <img src="~/Content/Site/assets/imgs/portfolio/portfolio-5.jpg" alt="" />
                                <div class="portfolio-hover-title">
                                    <div class="portfolio-content">
                                        <h4>Marketing</h4>
                                        <div class="portfolio-category">
                                            <span>Cat 1</span>
                                            <span>Cat 2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-item cat4 cat5">
                            <a href="~/Content/Site/assets/imgs/portfolio/portfolio-6.jpg" class="portfolio-image popup-gallery" title="Web Desgin">
                                <img src="~/Content/Site/assets/imgs/portfolio/portfolio-6.jpg" alt="" />
                                <div class="portfolio-hover-title">
                                    <div class="portfolio-content">
                                        <h4>Web Design</h4>
                                        <div class="portfolio-category">
                                            <span>Cat 1</span>
                                            <span>Cat 2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container u-MarginTop150 u-xs-MarginTop30 u-MarginBottom150 u-xs-MarginBottom30">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1 class="u-weight300 u-MarginTop0">
                    Feel free to Dorp a line
                </h1>
            </div>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime  placeat facere</p>
            </div>
        </div>

        <div class="row u-MarginTop150 u-xs-MarginTop30">
            <div class="col-md-4 col-sm-6 u-MarginBottom35">
                <div class="u-BoxShadow100">
                    <div class="Blurb Blurb--wrapper">
                        <h3 class="Blurb__hoverText u-MarginBottom20 u-MarginTop0">Allien Location</h3>
                        <div class="Split Split--height2 u-MarginBottom20"></div>
                        <p class="u-LineHeight2">
                            Upper Level, Overseas Passenger <br />
                            Terminal, The Rocks, Sydney 2000
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 u-MarginBottom35">
                <div class="u-BoxShadow100">
                    <div class="Blurb Blurb--wrapper">
                        <h3 class="Blurb__hoverText u-MarginBottom20 u-MarginTop0">Call Alien</h3>
                        <div class="Split Split--height2 u-MarginBottom20"></div>
                        <p class="u-LineHeight2">
                            Any time. We are open 24/7 <br />
                            +1 2345-67-89000
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 u-MarginBottom35">
                <div class="u-BoxShadow100">
                    <div class="Blurb Blurb--wrapper">
                        <h3 class="Blurb__hoverText  u-MarginBottom20 u-MarginTop0">Mail Alien</h3>
                        <div class="Split Split--height2 u-MarginBottom20"></div>
                        <p class="u-LineHeight2">get support via email <br /> <span class="default-color">mail@example.com</span></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="bg-lighter u-PaddingTop150 u-xs-PaddingTop30 u-PaddingBottom150 u-xs-PaddingBottom30">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1 class="u-MarginTop10 u-MarginBottom35">Bize Ulaşın</h1>
                </div>
            </div>
            <div class="row">
                <form class="js-ContactForm" method="post">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="İsim Soyisim" name="name" data-error="İsim alanı zorunludur" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="E-Posta" name="email" data-error="E-Posta alanı zorunludur" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Telefon" name="phone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" rows="4" placeholder="Mesajınız" name="message" data-error="Mesaj alanı zorunludur" required></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <button type="submit" class="btn btn-gradient btn--alien btn-block">Gönder</button>
                    </div>
                    <input type="hidden" name="id" value="FORM2">
                </form>

                <div class="col-md-12">
                    <div class="panel panel-body u-MarginTop100 u-xs-MarginTop30">
                        <div id="map" class="map-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel u-PaddingTop45 u-PaddingBottom45">
        <div class="container">
            <div class="row text-sm u-MarginTop20">

                <div class="col-md-5 col-sm-7">
                    <p class="u-LineHeight2 u-MarginBottom20"><img class="retina logo-v-center u-PaddingRight20" src="~/Content/Site/assets/imgs/logo.png" alt="" style="max-height:55px;max-width:120px"> Copyright © 2020 Banaz Otomotiv.</p>
                </div>
                <div class="col-md-2 col-sm-5 text-center">
                    <div class="social-links sl-default u-MarginTop10 u-sm-MarginBottom20">
                        <a href="https://tr-tr.facebook.com/BanazOtomotiv" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        @*<a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>*@
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 text-right text-left--sm">
                    <ul class="list-inline text-paragraph u-LineHeight2 u-MarginBottom0 u-MarginTop5">
                        <li class="u-MarginRight10">Telefon <span class="dark-txt"> 0222 315 2525</span></li>
                        <li>E-Posta <span class="dark-txt"> <a href="mailto:servis@banazotomotiv.com.tr">servis@banazotomotiv.com.tr</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>